.wrapper {
  width: 100px;
  height: 100px;
}

.controls {
  display: flex;

  &__button {
    display: flex;
    width: 26px;
    height: 26px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: #ffffff;
    border: 1px solid #dedce5;
    border-radius: 4px;

    &:hover,
    &:focus-visible,
    &:focus-within:has(:focus-visible) {
      z-index: 1;
      background-color: #dedce5;
    }

    &_cancel {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: -1px;
    }

    &_accept {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__icon {
    position: absolute;

    &_cancel {
      width: 11px;
      height: 11px;
      color: #9a0505;
    }

    &_accept {
      width: 15px;
      height: 15px;
      color: #47b91d,;
    }
  }
}
